
<div class="fs-title">
    <h4>Web Design Plan</h4>
</div>
<div class="container">
    <div class="fs-form-wrap" id="fs-form-wrap">
        <form id="myform" class="fs-form fs-form-full" autocomplete="off">
            <ol class="fs-fields">
                <li class="overview-hide">
                    <div>
                        <h2 class="text-center">Our process</h2>
                        <div class="image-container workflow-chart">
                            <img src="/userassets/icons/workflow.svg" />
                            <div class="image-text-wrapper">
                                
                                <ul class="nav nav-tabs">
                                  <li class="active"><a data-toggle="tab" href="#planning">Planning</a></li>
                                  <li><a data-toggle="tab" href="#content">Content</a></li>
                                  <li><a data-toggle="tab" href="#design">Technical Design</a></li>
                                  <li><a data-toggle="tab" href="#development">Development</a></li>
                                  <li><a data-toggle="tab" href="#delivery">Delivery</a></li>
                                </ul>
                            </div>
                        </div>
                        
                                <div class="tab-content ">
                                  <div id="planning" class="tab-pane fade in active">
                                    <img src="/userassets/images/loupe.png" />
                                    <h4>Planning &amp; Research</h4>
                                    <h5>Initial meeting</h5>
                                    <p>We discuss your goals and ideas and the Web Design Plan helps you choose what you want.</p>
                                    <h5>Requirements analysis</h5>
                                    <p>An outline of your goals, target audience, requirements, detailed feature requests and custom components. </p>
                                    <h5>Project charter</h5>
                                    <p>Defines the project, collates target information and serves as a reference throughout the project.</p>
                                    <h5>Contract</h5>
                                    <p>Defines roles, copyright, and financial points. Includes payment terms, project closure clauses, termination clauses, copyright ownership and timelines</p>
                                  </div>
                                  <div id="content" class="tab-pane fade">
                                    <img src="/userassets/images/layers.png" />
                                    <h4>Content</h4>
                                    <h5>Information Architecture &amp; Site map</h5>
                                    <p>We work closely with you to develop an organisational flow and structure that best suits your business.</p>
                                    <h5>Branding &amp; Visual Identity</h5>
                                    <p>We create a style guide, including color schemes, typography and web elements, from your existing branding or from scratch. If required, logo design is started here</p>
                                    <h5>Content Sourcing</h5>
                                    <p>We provide custom and COTS (Commercial Off The Shelf) content sourcing to reduce costs, and maintain quality. We  use local content generators for important custom content.</p>
                                  </div>
                                  <div id="design" class="tab-pane fade">
                                    <img src="/userassets/images/browser-1.png" />
                                    <h4>Technical Design</h4>
                                    <h5>Mockups and AGILE</h5>
                                    <p>Using <a href="https://triz-journal.com/innovation-best-practices/innovation-general/agile-project-management-part-one/">AGILE</a> process techniques we ensure the customer is involved in a phased, iterative design process.</p>
                                    <h5>Working prototypes</h5>
                                    <p>We will provide working prototypes as early as possible. Then improve upon the prototypes every development cycle.</p>
                                    <h5>Custom Components</h5>
                                    <p>Using our unique modular system we can identify and develop any custom modules that will be specific to your business.</p>
                                  </div>                                  
                                    <div id="development" class="tab-pane fade">
                                    <img src="/userassets/images/browser.png" />
                                    <h4>Development</h4>
                                    <h5>Framework</h5>
                                    <p>We can provide Admin and CMS capabilities if needed for your own content control and development.</p>
                                    <h5>Website Deployment</h5>
                                    <p>We turn the finalized prototypes into a completely functional website. You work with us to ensure the final output is what you expected.</p>
                                    <h5>Testing &amp QA</h5>
                                    <p>We verify functionality of the website. Do final cross-browser and platform testing. We optimize the site by compressing files, minizing css and js files, optimize image sizes. And we QA the site with our Beta-testers for final validation.</p>
                                  </div>                                  
                                    <div id="delivery" class="tab-pane fade">
                                     <img src="/userassets/images/handshake.png" />
                                   <h4>Delivery</h4>
                                    <h5>Hand over</h5>
                                    <p>We deploy the final website to your host and set a launch date.</p>
                                    <h5>Training &amp; documentation</h5>
                                    <p>Training and Dcoumentation will be prvided where necessary.</p>
                                    <h5>Maintenance plan</h5>
                                    <p>We create a maintenance plan with you that suits your business and your budget.</p>
                                  </div>
                                </div>
                        
                        
                        
                                <div class="mobile-process">
                                  <div>
                                    <img src="/userassets/images/loupe.png" />
                                    <h4>Planning &amp; Research</h4>
                                    <h5>Initial meeting</h5>
                                    <p>We discuss your goals and ideas and the Web Design Plan helps you choose what you want.</p>
                                    <h5>Requirements analysis</h5>
                                    <p>An outline of your goals, target audience, requirements, detailed feature requests and custom components. </p>
                                    <h5>Project charter</h5>
                                    <p>Defines the project, collates target information and serves as a reference throughout the project.</p>
                                    <h5>Contract</h5>
                                    <p>Defines roles, copyright, and financial points. Includes payment terms, project closure clauses, termination clauses, copyright ownership and timelines</p>
                                  </div>
                                  <div>
                                    <img src="/userassets/images/layers.png" />
                                    <h4>Content</h4>
                                    <h5>Information Architecture &amp; Site map</h5>
                                    <p>We work closely with you to develop an organisational flow and structure that best suits your business.</p>
                                    <h5>Branding &amp; Visual Identity</h5>
                                    <p>We create a style guide, including color schemes, typography and web elements, from your existing branding or from scratch. If required, logo design is started here</p>
                                    <h5>Content Sourcing</h5>
                                    <p>We provide custom and COTS (Commercial Off The Shelf) content sourcing to reduce costs, and maintain quality. We  use local content generators for important custom content.</p>
                                  </div>
                                  <div>
                                    <img src="/userassets/images/browser-1.png" />
                                    <h4>Technical Design</h4>
                                    <h5>Mockups and AGILE</h5>
                                    <p>Using <a href="https://triz-journal.com/innovation-best-practices/innovation-general/agile-project-management-part-one/">AGILE</a> process techniques we ensure the customer is involved in a phased, iterative design process.</p>
                                    <h5>Working prototypes</h5>
                                    <p>We will provide working prototypes as early as possible. Then improve upon the prototypes every development cycle.</p>
                                    <h5>Custom Components</h5>
                                    <p>Using our unique modular system we can identify and develop any custom modules that will be specific to your business.</p>
                                  </div>                                  
                                    <div>
                                    <img src="/userassets/images/browser.png" />
                                    <h4>Development</h4>
                                    <h5>Framework</h5>
                                    <p>We can provide Admin and CMS capabilities if needed for your own content control and development.</p>
                                    <h5>Website Deployment</h5>
                                    <p>We turn the finalized prototypes into a completely functional website. You work with us to ensure the final output is what you expected.</p>
                                    <h5>Testing &amp QA</h5>
                                    <p>We verify functionality of the website. Do final cross-browser and platform testing. We optimize the site by compressing files, minizing css and js files, optimize image sizes. And we QA the site with our Beta-testers for final validation.</p>
                                  </div>                                  
                                    <div>
                                     <img src="/userassets/images/handshake.png" />
                                   <h4>Delivery</h4>
                                    <h5>Hand over</h5>
                                    <p>We deploy the final website to your host and set a launch date.</p>
                                    <h5>Training &amp; documentation</h5>
                                    <p>Training and Dcoumentation will be prvided where necessary.</p>
                                    <h5>Maintenance plan</h5>
                                    <p>We create a maintenance plan with you that suits your business and your budget.</p>
                                  </div>
                                </div>
                        
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Background Information</h2>
                        <label class="fs-field-label fs-anim-upper" for="businessname">Business name</label>
                        <input class="fs-anim-lower" id="businessname" name="businessname" type="text" placeholder="Business name"/>
                        <label class="fs-field-label fs-anim-upper" for="businessservices" data-info="Key things to mention could be the size of your team, when the business was established, what the the business does, what products/services it offers and what drives it forward">Tell us a little about the business</label>
                        <textarea rows="6" class="fs-anim-lower" id="businessservices" name="businessservices" placeholder="Describe here"></textarea>
                        <label class="fs-field-label fs-anim-upper" for="businessedge" data-info="We just want to know what's unique about the business - to later highlight these in our design">What is the businesses competitive edge? What sets it apart from other comparitive businesses?</label>
                        <textarea rows="6" class="fs-anim-lower" id="businessedge" name="businessedge" placeholder="Describe here"></textarea>
                    </div>
                </li>                                               
                <li>
                    <div class="slide-inner">
                        <h2>Target Audience</h2>
                        <div class="col-md-6">
                            <label class="fs-field-label fs-anim-upper" for="targetaudience_age">Age</label>
                            <div class="radio">
                                <input type="radio" id="001" name="targetaudience_age" value="18">
                                <label for="001">&lt;	18</label>
                                <input type="radio" id="002" name="targetaudience_age" value="25">
                                <label for="002">18-25</label>
                                <input type="radio" id="003" name="targetaudience_age" value="35">
                                <label for="003">25-35</label>
                                <input type="radio" id="004" name="targetaudience_age" value="50">
                                <label for="004">35-50</label>
                                <input type="radio" id="005" name="targetaudience_age" value="50+">
                                <label for="005">50+</label>
                            </div>
                        </div>
                        <div class="col-md-6">
							<label class="fs-field-label fs-anim-upper" for="targetaudience_gender">Gender</label>
                            <div class="radio">
                                <input type="radio" name="targetaudience_gender" id="010" value="female">
                                <label for="010">Female</label>
                                <input type="radio" name="targetaudience_gender" id="011" value="male">
                                <label for="011">Male</label>
                            </div> 
                        </div>
                        <div class="col-md-12">
                        <label class="fs-field-label fs-anim-upper" for="targetaudience_geography">Geography</label>
                            <div class="checkbox small">
                                <input type="checkbox" value="1" id="targetaudience_geography-local" name="targetaudience_geography-local">
                                <label for="targetaudience_geography-local">Local</label>
                                <input type="checkbox" value="1"
                                id="targetaudience_geography-national" name="targetaudience_geography-national">
                                <label for="targetaudience_geography-national">National</label>
                                <input type="checkbox" value="1"
                                id="targetaudience_geography-international" name="targetaudience_geography-international">
                                <label for="targetaudience_geography-international">International</label>
                            </div> 
                        </div>
                        <div class="col-md-12">
                        <label class="fs-field-label fs-anim-upper" for="targetaudience_other" data-info="Other key demographics that may apply are profession, wage.">Any other demographics you'd like to include</label>
                        <textarea rows="5" class="fs-anim-lower" id="targetaudience_other" name="targetaudience_other" placeholder="Describe here"></textarea> 
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Redesign</h2>
                        <label class="fs-field-label fs-anim-upper" for="current-domain">Do you already own the domain name you would like to use?</label>
                        <label class="switch">
                            <input id="current-domain" name="current-domain" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <div class="current-domain-yes">
                            <label class="fs-field-label fs-anim-upper" for="current-domainname">What is the domain name?</label>
                            <input type="text" id="current-domainname" name="current-domainname" placeholder="www.example.com" />
                        </div>
                        <div class="current-domain-no">
                            <p>We'll help you purchase a domain. To see if the domain you're interested in is available to purchase, <a target="_blank" href="https://au.godaddy.com/domains/domain-name-search">search here</a></p>
                        </div>
                        <label class="fs-field-label fs-anim-upper" for="redesign">Do you have an existing site that you would like redesigned?</label>
                        <label class="switch">
                            <input id="redesign" name="redesign" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <div class="redesign-yes">
                            <label class="fs-field-label fs-anim-upper" for="current-created">When was the current design created?</label>
							<input class="fs-anim-lower" id="current-created" name="current-created" type="text" placeholder="MM/YYYY"/>
                            <label class="fs-field-label fs-anim-upper">What do you like and dislike about the current design?</label>
                            <div class="col-md-6 nopadding">
                                <h5>Likes</h5>
                                <textarea rows="7" class="fs-anim-lower" id="current-likes" name="current-likes" placeholder="Describe here"></textarea>
                            </div>
                            <div class="col-md-6 nopadding">
                                <h5>Dislikes</h5>
                                <textarea rows="7" class="fs-anim-lower" id="current-dislikes" name="current-dislikes" placeholder="Describe here"></textarea>
                            </div>
                            <label class="fs-field-label fs-anim-upper" for="current-carryover">Is there anything you’d like to carry over from the current design?</label>
                            <textarea class="fs-anim-lower" id="current-carryover" name="current-carryover" placeholder="Describe here"></textarea>
                            <label class="fs-field-label fs-anim-upper" for="current-hosted">How is the site hosted?</label>
                            <div class="radio">
                                <input type="radio" name="current-hosted" id="current-hosted-free" value="Hosted Free">
                                <label for="current-hosted-free">Free</label>
                                <input type="radio" name="current-hosted" id="current-hosted-shared" value="Hosted Shared">
                                <label for="current-hosted-shared">Shared</label>
                                <input type="radio" name="current-hosted" id="current-hosted-dedicated" value="Hosted Dedicated">
                                <label for="current-hosted-dedicated">Dedicated</label>
                                <input type="radio" name="current-hosted" id="current-hosted-collocated" value="Hosted Co-located">
                                <label for="current-hosted-collocated">Collocated</label>
                            </div>
                            <label class="fs-field-label fs-anim-upper" for="current-maintains">Who maintains the current site?</label>
                            <input type="text" id="current-maintains" name="current-maintains" placeholder="Describe here" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Purpose &amp; Goals</h2>
                        <label class="fs-field-label fs-anim-upper" for="goals-visitoractions">What action(s) would you like visitors to take when they visit the website?</label>
                        <div class="checkbox small">
                            <input type="checkbox" id="050" value="actions-searchforinfo" name="actions-searchforinfo">
                            <label for="050">Search for information</label>
                            <input type="checkbox" id="051" value="actions-joinmailinglist" name="actions-joinmailinglist">
                            <label for="051">Join mailing list</label>
                            <input type="checkbox" id="052" value="actions-makepurchase" name="actions-makepurchase">
                            <label for="052">Make a purchase</label>
                            <input type="checkbox" id="053" value="actions-contact" name="actions-contact">
                            <label for="053">Contact the business</label>
                            <input type="checkbox" id="054" value="actions-fillform" name="actions-fillform">
                            <label for="054">Fill out a form</label>
                            <input type="checkbox" id="055" value="actions-other" name="actions-other">
                            <label for="055"><input placeholder="Other..." type="text" name="actions-others"  /></label>
                        </div>
                        <label class="fs-field-label fs-anim-upper" data-info="This will help us know what kind of service you need">Which of the following are goals of the website</label>
                        <div class="checkbox checkbox-custom small">
                            <table>
                                <tr>
                                    <td>
                                        <input type="checkbox" value="goals-increasetraffic" id="020" name="goals-increasetraffic">
                                        <label for="020" class="radio-conversion">
                                            <img src="/userassets/images/line-chart.png" />
                                            <div>Increase traffic</div>
                                        </label>
                                    </td>
                                    <td>
                                        <input type="checkbox" value="goals-generateanalytics" id="021" name="goals-generateanalytics">
                                        <label for="021" class="radio-conversion">
                                            <img src="/userassets/images/analytics.png" />
                                            <div>Generate analytics</div>
                                        </label>
                                    </td>
                                    <td>                                                                        
                                        <input type="checkbox" value="goals-generatebusiness" id="022" name="goals-generatebusiness">
                                        <label for="022" class="radio-conversion">
                                            <img src="/userassets/images/business-partnership.png" />
                                            <div>Generate business leads</div>
                                        </label>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>                                                                  
                                        <input type="checkbox" value="goals-increasememberships" id="023" name="goals-increasememberships">
                                        <label for="023" class="radio-conversion">
                                            <img src="/userassets/images/emailanalytics.png" />
                                            <div>Increase membership growth</div>
                                        </label>
                                    </td>
                                    <td>   
                                        <input type="checkbox" value="goals-increasesales" id="024" name="goals-increasesales">
                                        <label for="024" class="radio-conversion">
                                            <img src="/userassets/images/plant.png" />
                                            <div>Increase sales &amp; profits</div>
                                        </label> 
                                    </td>
                                    <td>                                                        
                                        <input type="checkbox" value="goals-exploremarketing" id="025" name="goals-exploremarketing">
                                        <label for="025" class="radio-conversion">
                                            <img src="/userassets/images/tag.png" />
                                            <div>Explore online marketing strategies</div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>                     
                                        <input type="checkbox" value="goals-establishinternetpresence" id="026" name="goals-establishinternetpresence">
                                        <label for="026" class="radio-conversion">
                                            <img src="/userassets/images/target.png" />
                                            <div>Establish a strong internet presence</div>
                                        </label>
                                    </td>
                                    <td>                 
                                        <input type="checkbox" value="goals-enquiries" id="027" name="goals-enquiries">
                                        <label for="027" class="radio-conversion">
                                            <img src="/userassets/images/paper-plane.png" />
                                            <div>Encourage enquiries</div>
                                        </label>
                                    </td>
                                    <td>                     
                                        <input type="checkbox" value="goals-increaseinteraction" id="028" name="goals-increaseinteraction">
                                        <label for="028" class="radio-conversion">
                                            <img src="/userassets/images/checklist.png" />
                                            <div>Increase user interaction</div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>            
                                        <input type="checkbox" value="goals-increasesocialfollowing" id="029" name="goals-increasesocialfollowing">
                                        <label for="029" class="radio-conversion">
                                            <img src="/userassets/images/mobile.png" />
                                            <div>Increase social media following</div>
                                        </label>
                                    </td>
                                    <td>            
                                        <input type="checkbox" value="goals-collectdata" id="030" name="goals-collectdata">
                                        <label for="030" class="radio-conversion">
                                            <img src="/userassets/images/conversion.png" />
                                            <div>Collect data to improve business model</div>
                                        </label>
                                    </td>
                                    <td>                
                                        <input type="checkbox" value="goals-certification" id="031" name="goals-certification">
                                        <label for="031" class="radio-conversion">
                                            <img src="/userassets/images/contract.png" />
                                            <div>Meet government &amp; commercial certification</div>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Visual Identity</h2>
                        <label class="fs-field-label fs-anim-upper" for="visualidentity-logo">Do you require a new logo design?</label>
                        <label class="switch">
                            <input name="visualidentity-logo" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <label class="fs-field-label fs-anim-upper" for="visualidentity-brandingguide">Does the business have an existing branding guide?</label>
                        <label class="switch">
                            <input name="visualidentity-brandingguide" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <div class="visualidentity-brandingguide-no">
                            <p>We will work with you to develop a color scheme and appropriate branding for the website</p>
                            <label class="fs-field-label fs-anim-upper" for="visualidentity-printmaterials">Are there any print materials (brouchers, business cards, letterheads etc.) that we need to match?</label>
                            <label class="switch">
                                <input name="visualidentity-printmaterials" type="checkbox" />
                                <div class="checkboxslider"></div>
                            </label>
                        </div>
                        <label class="fs-field-label fs-anim-upper">Move the below sliders to the style and feel you'd like the website to have</label>
                        <div class="slider-group">
                            <div class="col-md-2">
                                Simple
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_simple_complex" style="margin-top:10px;" ></div>
                            </div>
                            <div class="col-md-2">
                                Complex
                            </div>
                        </div>
                        <div class="slider-group">
                            <div class="col-md-2">
                                 Classic
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_classic_modern" style="margin-top:10px;"></div>
                            </div>
                            <div class="col-md-2">
                                Modern
                            </div>
                        </div>
                        <div class="slider-group">
                            <div class="col-md-2">
                                Mature
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_mature_youth" style="margin-top:10px;"></div>
                            </div>
                            <div class="col-md-2">
                                Youthful
                            </div>
                        </div>
                        <div class="slider-group">
                            <div class="col-md-2">
                                Feminine
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_female_male" style="margin-top:10px;"></div>
                            </div>
                            <div class="col-md-2">
                                Masculine
                            </div>
                        </div>
                        <div class="slider-group">
                            <div class="col-md-2">
                                Playful
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_playful_sophisticated" style="margin-top:10px;"></div>
                            </div>
                            <div class="col-md-2">
                                Sophisticated
                            </div>
                        </div>
                        <div class="slider-group">
                            <div class="col-md-2">
                                Economical
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_economical_lux" style="margin-top:10px;"></div>
                            </div>
                            <div class="col-md-2">
                                Luxorious
                            </div>
                        </div>
                        <div class="slider-group">
                            <div class="col-md-2">
                                Geometric
                            </div>
                            <div class="col-md-8">
                                <div class="slider" name="sld_geom_organic" style="margin-top:10px;"></div>
                            </div>
                            <div class="col-md-2">
                                Organic
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Requirements &amp; Features</h2>
                        <label class="fs-field-label fs-anim-upper" for="hosting">Do you require domain name hosting?</label>
                        <label class="switch">
                            <input name="hosting" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <label class="fs-field-label fs-anim-upper" for="emailhosting">Do you require email hosting?</label>
                        <br />
                        <label class="switch">
                            <input name="emailhosting" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label> 
                        <label class="fs-field-label fs-anim-upper" >Add your requirements and features you'd like on the site below, and drag to rank them in order of importance</label>
                        <table clss="input-with-button">
                            <tr>
                                <td>
                                    <input id="newrequirementtext" name="newrequirementtext" type="text" placeholder="Feature" />
                                </td>
                                <td>                            
                                    <div id="newrequirement" class="btn btn-sm btn-fill btn-primary">Add</div>
                                </td>
                                <td>
                                    <div id="addmultiple-features" class="btn btn-sm btn-fill btn-primary" data-toggle="modal" data-target="#FeaturesModal">Add features from our example library</div>
                                </td>
                            </tr>
                        </table>
                            <ul id="requirementslist">
                                <h3>Our default features</h3>
                                <li class="ui-state-default ui-sortable-handle ui-state-disabled" data-info="">Responsive web design
                                    <p>Our websites are responsive and will look great no matter the platform they are viewed on.</p>
                                </li>
                                <li class="ui-state-default ui-sortable-handle ui-state-disabled" data-info="">Customization
                                    <p>We can provide tailored customizations for your business</p>
                                </li>
                                <li class="ui-state-default ui-sortable-handle ui-state-disabled" data-info="">Browser compatibility
                                    <p>We support all the common modern browsers on mobile, tablet and desktop PC.</p>
                                </li>
                                <li class="ui-state-default ui-sortable-handle ui-state-disabled" data-info="">Analytics
                                    <p>Our specialized hosting system features modern analytics leveraging modern machine-learning techniques.</p>
                                </li>
                                <li class="ui-state-default ui-sortable-handle ui-state-disabled" data-info=""> Small and Fast
                                    <p>Our unique server system has a very small resource footprint (less than 20MB without content). And it performs at very high rates - our system can handle 1 million requests per second (if needed).</p>
                                </li>
                                <li class="ui-state-default ui-sortable-handle ui-state-disabled" data-info=""> Quick Development
                                    <p>For customers that need unique solutions, our scripting system means we can build it sooner, and to a high quality level.</p>
                                </li>
                                <hr />
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Content</h2>
                        <label class="fs-field-label fs-anim-upper" for="content-designerprovided">Do you need us to provide any content?</label>    
                        <label class="switch">
                            <input id="content-designerprovided" name="content-designerprovided" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <p>By default, we provide icon suites, an SIL open license font library, and royalty-free stock photography via unsplash.com</p>
                        <div class="content-designerprovided-yes">
                            <label class="fs-field-label fs-anim-upper" for="content-provide">What content would you need us to provide?</label>
                            <textarea class="fs-anim-lower" id="content-provide" name="content-provide" placeholder="Describe here"></textarea>
                        </div>
                        <label class="fs-field-label fs-anim-upper" for="content-pages">Do you have pre-existing content?</label>
                        <label class="switch">
                            <input id="content-pages" name="content-pages" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <div>
                            <label class="fs-field-label fs-anim-upper">Add the pages and sections of content below. We've added a few to help get you started</label>
                            <p>We will help organize your content into menus and a user-friendly navigation for your website</p>
                            <table clss="input-with-button">
                                <tr>
                                    <td>
                                        <input id="newpagename" type="text" placeholder="Page" />
                                    </td>
                                    <td>                            
                                        <div id="newpage" class="btn btn-sm btn-fill btn-primary">Add</div>
                                    </td>
                                </tr>
                            </table>
                            <div class="content-pages">
                                <div class="page">
                                    <div class="delete-reference"><span class="icon-x"></span></div>
                                    <input id="page-000" name="page-000" value="Homepage" />
                                </div>
                                <div class="page">
                                    <div class="delete-reference"><span class="icon-x"></span></div>
                                    <input id="page-001" name="page-001" value="About" />
                                </div>
                                <div class="page">
                                    <div class="delete-reference"><span class="icon-x"></span></div>
                                    <input id="page-002" name="page-002" value="Contact" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Maintenance</h2>
				        <label class="fs-field-label fs-anim-upper" for="maintenance">Will there be sections that need regular updating?</label>
                        <label class="switch">
                            <input id="maintenance" name="maintenance" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>		
                        <div class="maintenance-yes">
                            <label class="fs-field-label fs-anim-upper" for="maintenance-sections">Please describe the sections and how often will these need updating</label>
                            <textarea class="fs-anim-lower" id="maintenance-sections" name="maintenance-sections" placeholder="Describe here"></textarea>
                            <label class="fs-field-label fs-anim-upper" for="maintenance-selfmaintenance">Would you like to do the updating yourself?</label>
                            <label class="switch">
                                <input name="maintenance-selfmaintenance" type="checkbox" />
                                <div class="checkboxslider"></div>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>References</h2>
                        <label for="reference">What websites do you like? Add them below and what you like about them</label>
                        <table class="input-with-button">
                            <tr>
                                <td>                            
                                    <input id="reference" name="reference" placeholder="www.reference.com" />
                                </td>
                                <td>                        
                                    <div id="add-reference" class="btn btn-sm btn-fill btn-primary">ADD</div>
                                </td>
                            </tr>
                        </table>
                        <div class="website-references"></div>
                        <br />
                        <h2>Competitors</h2>
                        <label for="competitor">Add your competitors' websites below and we'll analyze what they're doing right, what they're doing wrong, and how we can make your site standout</label>
                        <table class="input-with-button">
                            <tr>
                                <td>                            
                                    <input id="competitor" name="competitor" placeholder="www.competitor.com" />
                                </td>
                                <td>                        
                                    <div id="add-competitor" class="btn btn-sm btn-fill btn-primary">ADD</div>
                                </td>
                            </tr>
                        </table>
                        <div class="website-competitors"></div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Budget</h2>
                        <label class="fs-field-label fs-anim-upper" for="budget">What's your budget?</label>
                        <input class="fs-mark fs-anim-lower" id="budget" name="budget" type="number" placeholder="1000"/>
                        <br />
                        <h2>Deadline</h2>
                        <label class="fs-field-label fs-anim-upper" for="deadline">Do you have a deadline or launch date in mind?</label>
                        <label class="switch">
                            <input id="deadline" name="deadline" type="checkbox" />
                            <div class="checkboxslider"></div>
                        </label>
                        <div class="deadline-yes">
							<input name="deadline_date" name="deadline_date" type="text" placeholder="Deadline..."/>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-inner">
                        <h2>Extra Information</h2>
                        <label class="fs-field-label fs-anim-upper" for="othertext">Anything we missed?</label>
                        <textarea rows="7" class="fs-anim-lower" id="othertext" name="othertext" placeholder="Describe here"></textarea>
                        <label class="fs-field-label fs-anim-upper" for="businessemail" >Receive a copy of the Web Design Plan?</label>
                        <label class="switch">
                            <input name="businessemail" type="checkbox" checked="true" />
                            <div class="checkboxslider"></div>
                        </label>
                        <p>Using the login email, we will send you a copy of the Web Design Plan.</p>
                    </div>
                </li>
            </ol>
            <button id="webdesignplan_submit" class="fs-submit"  type="submit">Send</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="FeaturesModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Feature Examples</h2>
            </div>
            <div class="modal-body">
                <label class="fs-field-label fs-anim-upper">The following are some examples of features you can have on your website. You can tick any that you would like to include and add them to your list</label>
                <div class="checkbox">
                    <input type="checkbox" id="100" value="Search Engine Optimization (SEO)" name="features-SEO">
                    <label for="100">Search Engine Optimization (SEO)</label>
                    <input type="checkbox" id="101" value="Admin control & editing" name="features-admincontrol">
                    <label for="101">Admin control &amp; editing</label>
                    <input type="checkbox" id="102" value="Ecommerce" name="features-ecommerce">
                    <label for="102">Ecommerce</label>
                    <input type="checkbox" id="103" value="E-mail/newsletter sign-up and email marketing capability" name="features-mailmarketing">
                    <label for="103">E-mail/newsletter sign-up and email marketing capability</label>
                    <input type="checkbox" id="104" value="Blog/news feed" name="features-blog">
                    <label for="104">Blog/news feed</label>
                    <input type="checkbox" id="105" value="Maps (google maps, locations, contact page etc.)" name="features-maps">
                    <label for="105">Maps (google maps, locations, contact page etc.)</label>                                                     
                    <input type="checkbox" id="106" value="Contact/enquiry form" name="features-contactform">
                    <label for="106">Contact/enquiry form</label>        
                    <input type="checkbox" id="107" value="Login capability/Password protected areas" name="features-loginpassword">
                    <label for="107">Login capability/Password protected areas</label>
                    <input type="checkbox" id="108" value="Image gallery" name="features-imagegallery">
                    <label for="108">Image gallery</label>   
                    <input type="checkbox" id="109" value="Image carousel" name="features-imagegallery">
                    <label for="109">Image carousel</label>
                    <input type="checkbox" id="110" value="Portfolio" name="features-portfolio">
                    <label for="110">Portfolio</label>
                    <input type="checkbox" id="111" value="Testimonials" name="features-testimonials">
                    <label for="111">Testimonials</label>
                    <input type="checkbox" id="112" value="Quotes" name="features-quotes">
                    <label for="112">Quotes</label>
                    <input type="checkbox" id="113" value="Search" name="features-search">
                    <label for="113">Search</label>    
                    <input type="checkbox" id="114" value="Calendar (for upcoming events)" name="features-calendar">
                    <label for="114">Calendar (for upcoming events)</label>
                    <input type="checkbox" id="115" value="Uploads/Downloads" name="features-uploadsdownloads">
                    <label for="115">Uploads/Downloads</label>
                    <input type="checkbox" id="116" value="Share buttons" name="features-share">
                    <label for="116">Share buttons</label>
                    <input type="checkbox" id="117" value="Social media feeds/links" name="features-socialmedia">
                    <label for="117">Social media feeds/links</label>       
                </div>
            </div>
            <div class="modal-footer">
                <div id="featureslist-add" class="btn btn-primary btn-fill">Add features</div>
            </div>
        </div>
    </div>
</div>
