<div id="wizard_login" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="col-md-5 col-sm-12  col-xs-12 nopadding">
                    <h1>Please login</h1>
                </div>
                <div class="col-md-7 col-sm-12  col-xs-12 nopadding">
                    <form id="userlogin_info" method="POST">
                        <div class="input-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                <input id="useremail" name="useremail" type="email" class="form-control" required>
                                 <label for="useremail" class="form-control-label">E-mail</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                <input id="userpassword" name="userpassword" type="password" class="form-control showpassword" required>
                                <label for="userpassword" class="form-control-label">Password</label>                        </div>
                            <div class="input-group-btn">
                                <button id="wizard_login_submit" type="submit" class="btn btn-icon btn-sm btn-rounded btn-fill pull-right"><span class="icon-checkmark"></span></button>
                            </div>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
    </div>
</div>




