<div id="wizard_intro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-7 col-sm-12  col-xs-12 nopadding">
                    <h1>Choose a theme</h1>
                </div>
                <div class="col-md-5 col-sm-12  col-xs-12 nopadding">
                    <form id="website_info" method="POST" class="pull-right" role="form">
                        <div class="input-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                <input id="websitename" name="website_name" type="text" class="form-control" required>
                                <label for="websitename" class="form-control-label">Website Name</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                <select id="website_type" class="selectpicker" title="" data-live-search="true" data-live-search-placeholder="Search..." data-style="btn" value="Default" name="website_type">
                                    <optgroup label="Generic">
                                        <option value="Default">Default</option>
                                        <option value="Simple">Simple</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="input-group-btn">
                                <button id="wizard_intro_submit" type="submit" class="btn btn-icon btn-sm btn-rounded btn-fill pull-right" data-dismiss="modal"><span class="icon-checkmark"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
                <div class="col-md-4 nopadding">
                    <img data-src="holder.js/700x450?auto=yes">
                </div>
            </div>
        </div>
    </div>
</div>


