<div class="row row-cards row-deck">
    <div class="col-md-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <span class="stamp stamp-md bg-green mr-3">
                    <i class="fe fe-shopping-cart"></i>
                </span>
                <div>
                    <h4 class="m-0"><a href="javascript:void(0)">15 <small>Projects</small></a></h4>
                    <small class="text-muted">4 modified</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <span class="stamp stamp-md bg-blue mr-3">
                    <i class="fe fe-dollar-sign"></i>
                </span>
                <div>
                    <h4 class="m-0"><a href="javascript:void(0)">132 <small>Issues</small></a></h4>
                    <small class="text-muted">14 new issues</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <span class="stamp stamp-md bg-red mr-3">
                    <i class="fe fe-users"></i>
                </span>
                <div>
                    <h4 class="m-0"><a href="javascript:void(0)">1,352 <small>Bugs</small></a></h4>
                    <small class="text-muted">163 outstanding</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <span class="stamp stamp-md bg-yellow mr-3">
                    <i class="fe fe-message-square"></i>
                </span>
                <div>
                    <h4 class="m-0"><a href="javascript:void(0)">132 <small>Comments</small></a></h4>
                    <small class="text-muted">16 waiting</small>
                </div>
            </div>
        </div>
    </div>
</div>