



<div class="admin-footer--settings">
    
<div id="admin-page--settings">
    <div class="admin-footer--header">
        <ul>
            <li>
                <a data-toggle="collapse" data-parent="#admin-page--settings" href="#editmenu-settings" title="Settings">
                    <span class="icon-equalizer"></span>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#admin-page--settings" href="#editmenu-color" title="Color Palette">
                    <span class="icon-palette"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="panel">
        <div id="editmenu-settings" class="panel-collapse collapse">
          <div class="admin-footer--horizontalscroll">
              <div class="admin-footer--item">
                  <label>Publish</label>
                  <input type="text" />
              </div><!--
            --><div class="admin-footer--item">
                  <label>Set Publish Date</label>
                  <input type="text" />
              </div><!--
            --><div class="admin-footer--item">
                  <label>Page Name</label>
                  <input type="text" />
              </div><!--
            --><div class="admin-footer--item">
                  <label>Tags</label>
                  <input type="text" />
              </div><!--
            --><div class="admin-footer--item">
                  <label>Meta Title</label>
                  <input type="text" />
              </div><!--
            --><div class="admin-footer--item">
                  <label>Url Handle</label>
                  <input type="text" />
              </div><!--
            --><div class="admin-footer--item">
                  <label>Meta Description</label>
                  <input type="text" />
              </div>
          </div>
    </div>
  </div>
  <div class="panel">

    <div id="editmenu-color" class="panel-collapse collapse">
            <div id="color-palette" class="toolbox-inner">
                <div id="colorchange" class="btn btn-fill">Change Colors</div>
                <div class="customizer">
                    <ul class="color-tool" id="color-list">
                    </ul>
                </div>
                <div class="toolbox-group">
                    <div class="btn-group btn-full" >
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon-palette"><span class="caret"></span></span>
                        </button>
                        <ul class="dropdown-menu colorschemes">
                            <li><a>Neutral</a></li>
                            <li><a>Blues</a></li>
                            <li><a>Reds</a></li>
                            <li><a>Greens</a></li>
                            <li><a>Bright</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
  </div>
</div>

<div id="edit-toggle"><a><span class="icon-pencil"></span></a></div>
