<!-- JS - Basics -->

<!--[if lte IE 8]>
  <script src="/scripts/jquery-1.11.3"></script>
<![endif]-->
<!--[if gt IE 8]>
  <script src="/scripts/jquery-3.1.0.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
  <script src="/scripts/jquery-3.1.0.min.js"></script>
<!-- <![endif]-->

<script src="/scripts/jquery-ui.min.js"></script>

<!-- Dont move this - bootstrap requires jquery!!! -->
<script src="/scripts/bootstrap.min.js"></script>

<script src="/scripts/classie.js"></script>
<script src="/scripts/interact-1.2.4.min.js"></script>
<script src="/scripts/handlebars.runtime.min.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/holder.min.js"></script>

<script src="/scripts/sugar.min.js"></script>
<script src="/scripts/jquerymy-1.2.8.js"></script>

<script>
// TODO: Ideally shouldnt be here
function loadHtml(html) {
    var a = html
{% if editing == false then %}
    window.location.href = a;
{% end %}
}
</script>

{% if editing == true then %}
<!-- JS - Module Editing -->
<script src="/scripts/medium-editor.js"></script>
<script src="/scripts/MediumButton.js"></script>

{(templates/common/toolbar.js)}
{% end %}

<!-- JS - Extensions -->
<script src="/scripts/bootstrap-toggle.min.js"></script>
<script src="/scripts/bootstrap-select.min.js"></script>
<script src="/scripts/slideout.min.js"></script>
<script src="/scripts/select2.js"></script>
<script src="/scripts/prism.js"></script>
<script src="/scripts/jquery.minicolors.min.js"></script>
<script src="/scripts/jquery.bootstrap-touchspin.min.js"></script>
<script src="/scripts/bootstrap-tagsinput.js"></script>
<script src="/scripts/moment.js"></script>
<script src="/scripts/jquery-ui-timepicker-addon.min.js"></script>
<script src="/scripts/switchery.min.js"></script>
<script src="/scripts/slick.js"></script>
<script src="/scripts/imagesloaded.pkgd.min.js"></script>
<script src="/scripts/masonry.pkgd.min.js"></script>
<script src="/scripts/jquery-comments.js"></script>
<script src="/scripts/bootstrap-table.js"></script>
<script src="/scripts/jquery.bootstrap.wizard.js"></script>
<script src="/scripts/native.history.min.js"></script>
<script src="/scripts/featherlight.js"></script>
<script src="/scripts/parallax.min.js"></script>

<!-- JS - Admin Menus -->
<script src="/scripts/colorizer.js"></script>
<script src="/templates/common/basejs.js"></script>

<!-- JS - User scripts -->
{[_G.PROJECT..'/userassets/scripts/userscript.js']}    
