<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<!-- The above 3 meta tags MUST come first in the head; any other head content must come AFTER these tags -->

<meta name="description" content="">
<meta name="author" content="">

<!-- Favicon -->
<link rel="shortcut icon" href="/userassets/images/logo-sml.png">
<link rel="apple-touch-icon-precomposed" href="/userassets/images/logo-sml.png">

<!-- CSS - Basics -->
<link rel="stylesheet" type="text/css" href="/styles/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap-custom.css">

<!-- CSS - Admin Menus -->
<link rel="stylesheet" type="text/css" href="/styles/editmenu.css">
<link rel="stylesheet" type="text/css" href="/styles/colorizer.css">

<!-- CSS - Module Editing -->
<link rel="stylesheet" type="text/css" href="/styles/medium-editor.css">

<!-- CSS - Extensions -->
<link rel="stylesheet" type="text/css" href="/styles/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap-toggle.min.css">
<link rel="stylesheet" type="text/css" href="/styles/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="/styles/jquery.bootstrap-touchspin.css">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap-tagsinput.css">
<link rel="stylesheet" type="text/css" href="/styles/select2.css">
<link rel="stylesheet" type="text/css" href="/styles/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" type="text/css" href="/styles/switchery.css">
<link rel="stylesheet" type="text/css" href="/styles/jquery-comments.css">
<link rel="stylesheet" type="text/css" href="/styles/slick.css">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap-table.css">
<link rel="stylesheet" type="text/css" href="/styles/featherlight.css">

<!-- CSS - User scripts -->
<link rel="stylesheet" type="text/css" href="/userassets/css/userstyle.css">

