<div class="module-masonry image-editor medium-insert-images paintarea" data-name="module.masonry.{*id*}">
    <div class="container">
        <div class="image-masonry">
            <div class="grid-sizer"></div>
            <div class="image-container">
                <img data-src="holder.js/700x450?auto=yes" />
            </div>
            <div class="image-container">
                <img data-src="holder.js/700x450?auto=yes" />
            </div>
            <div class="image-container">
                <img data-src="holder.js/700x450?auto=yes" />
            </div>
            <div class="image-container">
                <img data-src="holder.js/700x450?auto=yes" />
            </div>
            <div class="image-container">
                <img data-src="holder.js/700x450?auto=yes" />
            </div>
            <div class="image-container">
                <img data-src="holder.js/700x450?auto=yes" />
            </div>
        </div>
    </div>
</div>