<style>
    .module-socialmediaaccounts {
        padding: 20px 0;
    }
    .module-socialmediaaccounts li{
        display: inline-block;
        text-align: center;
    }
</style>
<div class="module-socialmediaaccounts icon-editor" data-name="module.banner.{*id*}">
    <div class="container text-center paintarea" >
        <div>
            <ul>
                <li class="painttext"><a href="/"><img class="img-sm" src="/userassets/icons/icon_instagram.svg"/></a></li>
                <li class="painttext"><a href="/"><img class="img-sm" src="/userassets/icons/icon_twitter.svg"/></a></li>
                <li class="painttext"><a href="/"><img class="img-sm" src="/userassets/icons/icon_facebook.svg"/></a></li>
                <li class="painttext"><a href="/"><img class="img-sm" src="/userassets/icons/icon_tumblr.svg"/></a></li>
            </ul>
        </div>
    </div>
</div>
