<!DOCTYPE HTML>
<html lang="en">
    {%
        local userid = _G.LOCALADMIN.user.uid
        local allpages = _G.HTMLPAGES.getallpages()
    %}
    <head>
        {(templates/common/head.html)}
    </head>
    
        {(templates/common/redis.html)}
    
        {(templates/tools/admintop.html, { nosidemenu = true })}
    
    <body class="page">
        <main>

        {(templates/wizards/wizard_allpages.html, { userid = userid, allpages = allpages } )}
        </main>

        {(templates/common/basejs.html)}
        {(templates/tools/adminbottom.html)}
        {(templates/wizards/wizard_allpages.js)}
    </body>
</html>
