<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">

    <head>
        {(templates/common/head.html)}
    </head>

    <body class="page">
       
        {(templates/tools/adminmainmenu.html)}
        
        {(templates/common/navstyle.html)}
        {(templates/common/navsite.html)}
        
        <main class="page__main">
            <a name="about"></a>
            
            {(templates/modules/fullscreenmedia.html)}
            
            {(templates/modules/banner.html, { 
                bannertitle=[[<h1>Hello</h1>]], 
                bannertext=[[<h3>Add some text here. Yep, this page is a little bit special because you get to edit it. I trust you'll only write nice things. Unrelated to this, I also disabled the save option.</h3>]],
                bannerstyle=[[]]
            })}
                    
            {(templates/modules/fullscreenmedia-half.html, {
                imagefile=[[/images/pages/demo/media2.jpg]],
                imagetitle=[[<h1>Featured image</h1>]],
                imagetext=[[<h3>Some text here</h3>]]
            })}
        
            {(templates/modules/sidefeature001.html)}
            
            <br />
            
            {(templates/modules/sidefeature002.html)}
            
            {(templates/modules/banner.html, { 
                bannertitle=[[<h1>Hello Again</h1>]],
                bannertext=[[<h3>Add some text here. Yep, this page is a little bit special because you get to edit it. I trust you'll only write nice things. Unrelated to this, I also disabled the save option.</h3>]],
                bannerstyle=[[style="background-color:#f1f1f1;color: #777;"]]
            })} 
            
            {(templates/modules/mediagrid.html)}
            
            {(templates/modules/container.html, {
                containertext = [[
                    <h2>
                        What are you waiting for?
                    </h2>
                    <p>
                        As soon as you've clicked the pencil icon the page will be editable and two new elements will appear; the <b>toolbox</b>&nbsp;and the <b>inspector bar</b>. The toolbox by default will appear in the upper left corner of the page, but it can be dragged to wherever you like. The inspector bar will appear fixed to the bottom of the page (it will be empty until an element on the page is selected).
                    </p>
                    <h3>
                        Editable regions
                    </h3>
                    <p>
                        How do you know what content on the page you can edit? I admit it's not so hard to guess in this case, but imagine if you will a far more elaborate page design.
                    </p>]]
            })}
            
            {(templates/modules/fullscreenmedia-half2.html, {
                imagefile=[[/images/pages/demo/media3.jpg]],
                imagetitle=[[<h1>Featured image</h1>]],
                imagetext=[[<h3>Some text here</h3>]]
            })}
            
        </main>   
        
        {(templates/modules/footer.html, {
            footertext=[[<h3>this is the footer</h3>]]
        })}
        
        {(templates/tools/editorpanel.html)}
        
        {(templates/common/basejs.html)}

        {(templates/tools/editorjs.html)}

    </body>
</html>