<!DOCTYPE HTML>
<html lang="en" >

    <head>
        {% local userassets = _G.USERASSETS %}
        {(templates/common/head.html)}
    </head>

    <body class="page">

        {(templates/common/redis.html)}
        {(templates/common/loading.html)}

        {(templates/tools/admintop.html)}

        <main class="page__main">
            {(templates/common/navstyle.html)}
            {(templates/common/navsite.html)}
            <<<MODULES>>>
        </main>
        
        {(templates/common/basejs.html)}

        {(templates/tools/adminbottom.html)}
    </body>
</html>
